<div class="background">
    <div class="menu">
        <div class="buy-infos mb-32 px-64" *ngIf="bullBearMarket">
            <h2 class="mb-32">{{ bullBearMarket.eventInfo }} Event</h2>
            <h3>{{ bullBearMarket.eventCoinObj.name }} <br>
                is going crazy right now
                <span [ngClass]="checkLowOrHighPrice()">{{ bullBearMarket.eventCoinObj.value | currency:'USD':'symbol':'1.0-2' }}</span>
            </h3>
            <h4 class="mt-16">{{ randomComment }}</h4>
        </div>
        <div class="buy-infos mb-32" *ngIf="coinNotExist">
            <h3 class="mt-16">
                {{ coinNotExist }}
            </h3>
        </div>     
        <button (click)="AbortTransaction()">close</button>
    </div>
</div>