<a routerLink="" class="back-btn"><img src="./assets/img/arrow-back.png" alt="" class=""></a>
<div class="main-content">
    <div class="center-container">
        <h1>Rules</h1>
    </div>

    <strong class="mt-32">Accumulate as many USD Coins as possible within 30 days by buying cryptocurrencies at 
        low prices and selling them at higher prices for profit.</strong>

    <span class="class-sepcial">Game Duration:</span>
    <ul>
        <li>The game lasts a total of <strong>30 days</strong>.</li>
        <li><strong>Each click on "Exchange"</strong> counts as one day passing.</li>
    </ul>


    <span class="class-sepcial">Trading:</span>
    <ul>
        <li><strong>Buy cryptocurrencies</strong> at low prices and <strong>sell</strong> them at higher prices to make a profit.</li>
        <li><strong>Unsold cryptocurrencies</strong> at the end of the game <strong>will not</strong> be added to your final score.</li>
    </ul>



    <span class="class-sepcial">Highscores:</span>
    <p class="mt-16">Thetop 10 players with the highest USD Coin balances at the end of the game will be displayed on the leaderboard.</p>
    <br>
    <p>Plan your moves carefully. Every click matters, and timing your trades wisely is key to maximizing your profits!</p>

</div>