<div class="main-content">
    <h1>Crypto Clash</h1>
    <h2>The last Transaction</h2>
    <form (ngSubmit)="onSubmit(startGame, $event, selectedClassIndex)" #startGame="ngForm">
      <div class="input-container mt-32">
          <input #userName="ngModel" [(ngModel)]="playerName" 
          type="playername" 
          id="playername" 
          name="playername" 
          minlength="3"
          placeholder="Enter a name" 
          required>
          @if (userName.dirty) {
            <div class="error-msg pt-8" *ngIf="userName.errors?.['minlength']">
              <p>a Name must contain at least 3 Characters</p>
          </div>
          }

      </div>
      <div class="select-container my-32">
          <div class="custom-select">
            <div class="select-header" (click)="toggleDropdown()">
              <span>{{ gameService.classes[selectedClassIndex].name || 'Choose a faction' }}</span>
              <span class="arrow" [class.open]="dropdownOpen">▼</span>
            </div>
            <ul class="select-dropdown" *ngIf="dropdownOpen">
              <li
                *ngFor="let class of gameService.classes; let i = index"
                (click)="selectClass(i)"
                [class.selected]="i === selectedClassIndex"
              >
                {{ class.name }}
              </li>
            </ul>
          </div>
        </div>
      <div class="game-info-container mt-64">
          <div class="card">
              <span><strong>{{ gameService.classes[selectedClassIndex].tag }} Attributes:</strong> </span>
              <span>{{ attributeAdvantage }}</span>
              <span>{{ attributeDisAdvantage }}</span>

          </div>
          <div class="card">
              <span><strong>Starting Conditions:</strong></span>
              <span>Start Money: {{ factionStartingMoney | currency }}</span>
              <span>IT-Security Level: {{ factionItSecurityLevel }} %</span>
              <span>Hardware Wallet Space: {{ factionWalletSpace }} Coins</span>
          </div>
      </div>
      <div class="button-container mt-64">
          <a routerLink="scores">Scores</a>
          <button [class.btn-disabled]="startGame.form.invalid">Play</button>
          <a routerLink="story">Story</a>
          <a routerLink="rules">Rules</a>
      </div>
    </form>
</div>



