<div class="main-content">
    <h1>Crypto Clash</h1>
    <h2>The last Transaction</h2>
    <div class="input-container mt-32">
        <input type="name" id="name" placeholder="Enter a name" required>
        <div class="error-msg pt-8">
            <p>a Name must contain at least 3 Characters</p>
        </div>
    </div>
    <div class="select-container my-32 px-8">
        <label for="options">Wähle eine Klasse:</label>
        <select name="" id="">
            <option value="select"><</option>
            <option value="class-1">Asia Bot Network (ABN)</option>
            <option value="class 2">Donald Musk Holding (DMH)</option>
            <option value="class 3">Bureaucracy Empire (BCE)</option>
        </select>
    </div>
    <div class="attribute-container">
       <span>Attribute 1: + Stats</span>
       <span>Attribute 2: - Stats</span>
    </div>
</div>

