@import './../styles.scss';

.main-content {
    height: 100vh;
    @include display();
    width: 100%
}

.gamebox {
    position: relative;
    @include display();
    width: 100%;
    height: 810px;
    background-color: #5c5f63;
    background-color: $game-bg-color;
    border: 3px solid $btn-bg-color;
    border-radius: 24px;
    padding: 64px 64px;
}




