@import './../../../styles.scss';

.buy-menu {
    @include display();
    gap: 48px;
}

.text-info, .buy-infos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
}