<a routerLink="" class="back-btn"><img src="./assets/img/arrow-back.png" alt="" class=""></a>
<div class="main-content">
   <div class="row-1">
        <div class="overview">
            <span class="title">Overview</span>
            <div>
                <div class="stat-text">
                    <h4>Money</h4>
                    <h4>It-Security</h4>
                    <h4>Class</h4>
                    <h4>Day</h4>
                    <!-- <h3>Defi USDC</h3> Later Feature -->
                </div>
                <div class="stats">
                    <h4>{{ currentMoney | currency }}</h4>
                    <h4>{{ currentItSecurity| percent:'1.0-0'}}</h4>
                    <h4>{{ classTag }}</h4>
                    <h4>{{ startingDay }} / {{ finishDay }}</h4>
                </div>
            </div>

        </div>
        <div class="divider"></div>
        <div class="exchanges">
            <span class="title">Exchanges</span>
            <button (click)="getRandomCurrencys()">ABN</button>
            <button>DMH</button>
            <button>BCE</button>
            <!-- <button>ACL</button> Later Feature -->
        </div>
   </div>
   <div class="row-2 mt-32">
        <div class="controls">
            <button>Buy</button>
            <button>Sell</button>
            <!-- <button>Shop</button>
            <button>DeFi</button> -->
            <!-- <button>Shop</button> Later Feature -->
            <!-- <button>Defi</button> Later Feature -->
        </div>
   </div>
   <div class="row-3 mt-32">
        <div class="exchange-offer">
            <span class="title">Exchange Offer</span>
            <table>
                <tr>
                    <th>Coin</th>
                    <th class="txt-right">cost</th>
                </tr>
                <tr *ngFor="let currency of dailyExchangeOffer; let i = index" (click)="gameService.openBuyCurrencyMenu(dailyExchangeOffer[i])">
                    <td>{{ currency.tag }}</td>
                    <td class="txt-right">{{ currency.value | currency:'USD':'symbol':'1.0-2' }}</td>
                </tr>
            </table>
        </div>
        <div class="hardware-wallet">
            <span class="title">Hardware Wallet =  {{ calculateWalletSpace }} / {{ currentWalletSpace }}</span>
            <table>
                <tr>
                    <th>Coin</th>
                    <th class="txt-right">count</th>
                    <th class="txt-right">at:buy</th>
                </tr>
                <tr *ngFor="let position of wallet; let i = index">
                    <td>{{ position.tag }}</td>
                    <td class="txt-right">{{ position.count }}</td>
                    <td class="txt-right">{{ position.buyAt | currency:'USD':'symbol':'1.0-2' }}</td>
                </tr>
            </table>
        </div>
   </div>
</div>
<app-buy-menu *ngIf="gameService.toggleBuyMenu"></app-buy-menu>
