<a routerLink="" class="back-btn"><img src="./assets/img/arrow-back.png" alt="" class=""></a>
<div class="main-content">
   <div class="row-1 mt-24">
        <div class="overview">
            <span class="title">Overview</span>
            <div>
                <div class="stat-text">
                    <h4>Money</h4>
                    <h4>It-Security</h4>
                    <h4>Class</h4>
                    <h4>Day</h4>
                    <!-- <h3>Defi USDC</h3> Later Feature -->
                </div>
                <div class="stats">
                    <h4 >{{ currentMoney | currency }}</h4>
                    <h4>{{ currentItSecurity| percent:'1.0-0'}}</h4>
                    <h4>{{ classTag }}</h4>
                    <h4>{{ startingDay }} / {{ finishDay }}</h4>
                </div>
            </div>
        </div>
        <div class="divider divider-none"></div>
        <div class="exchanges">
            <span class="title d-none">Exchanges</span>
            <button class="d-none" (click)="nextDay()">Asia Bot Exchange</button>
            <button class="d-none" (click)="nextDay()">Donald Musk Trading</button>
            <button class="d-none" (click)="nextDay()">European Stoxx Room</button>
            <button class="small-devices-570px" (click)="nextDay()">next Day</button>
            <!-- <button>ACL</button> Later Feature -->
        </div>
   </div>
   <div class="row-2 mt-32">
        <div class="controls">
            <!-- <button>Shop</button> Later Feature -->
            <!-- <button>Defi</button> Later Feature -->
            <!-- <p> {{  }} </p> -->
        </div>
   </div>
   <div class="row-3 mt-32">
        <div class="exchange-offer">
            <span class="title d-none">Exchange Offer</span>
            <table>
                <tr>
                    <th>Coin</th>
                    <th class="txt-right">cost</th>
                </tr>
                <tr *ngFor="let currency of dailyExchangeOffer; let i = index" (click)="openBuyOrder(i)">
                    <td>{{ currency.tag }}</td>
                    <td class="txt-right">{{ currency.value | currency:'USD':'symbol':'1.0-2' }}</td>
                </tr>
            </table>
        </div>
        <div class="hardware-wallet">
            <span class="title">Hardware Wallet =  {{ calculateWalletSpace }} / {{ currentWalletSpace }}</span>
            <table>
                <tr>
                    <th>Coin</th>
                    <th class="txt-right">count</th>
                    <th class="txt-right">at:buy</th>
                </tr>
                <tr *ngFor="let position of wallet; let i = index" (click)="openSellOrder(i)">
                    <td>{{ position.tag }}</td>
                    <td class="txt-right">{{ position.count }}</td>
                    <td class="txt-right">{{ position.buyAt | currency:'USD':'symbol':'1.0-2' }}</td>
                </tr>
            </table>
        </div>
   </div>
</div>
<app-buy-menu *ngIf="toggleBuyMenu" [buyValues]="sendingBuyValues" (buyTransaction)="receiveBuyTransaction($event)"></app-buy-menu>
<app-sell-menu *ngIf="toggleSellMenu" [sellValues]="sendingSellValues" (sellTransaction)="receiveSellTransaction($event)"></app-sell-menu>
<app-info-menu *ngIf="coinNotExistMenu" coinNotExist="coin not exist on this Exchange" (closeMenu)="receiveInfoMsg($event)"></app-info-menu>
<app-info-menu *ngIf="toggleBullBearMenu" [bullBearMarket]="sendExchangeEvent" (closeMenu)="receiveInfoMsg($event)"></app-info-menu>
<app-info-menu *ngIf="toggleHackEventMenu" [hackEvent]="sendHackEvent" (closeMenu)="receiveInfoMsg($event)"></app-info-menu>
<app-game-end-menu *ngIf="toggleGameEndMenu" [playerScore]="sendProfitScore"></app-game-end-menu>

