@import './spacings.scss';
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


$body-color: #1A1C20;
$btn-bg-color: #313437;
$game-bg-color: #25272B;
$primary: #EAEAEA;
$secondary: #FF4F5A;
$warning-color: #FFC857;
$error-color: #D72638;



// Main Colors
// Background (Dark): #1A1C20
// Primary Accent (Digital Green): #00A676
// Secondary Accent (Warning Red): #FF4F5A

// Text Colors
// Primary Text: #EAEAEA
// Secondary Text: #A0A0A0

// Interactive Elements
// Button Background: #313437
// Button Hover: #00C896
// Link Color: #4ABDAC

// Warnings & Errors
// Warning Color: #FFC857
// Error Color: #D72638

* {
  margin: 0;
  box-sizing: border-box;
}

@mixin display($flex: flex, $jc: center, $ai: center) {
    display: $flex;
    justify-content: $jc;
    align-items: $ai;
}

h1 {
  color: $primary;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  letter-spacing: 4px;
}

h2 {
  color: $primary;
  font-family: "Orbitron", sans-serif;
  font-size: 32px;
  letter-spacing: 6.2px;
}

.flex-center {
    @include display();
}

.back-btn {
  position: absolute;
  top: 32px;
  left: 32px;
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: $btn-bg-color;
  color: $primary;
  @include display();
  &:hover {
    background-color: #00C896;
    color: #1A1C20;
  }
  >img {
    width: 32px;
    object-fit: cover;
  }
}

.desk-max-width {
    width: 100%;
    max-width: 768px;
    display: flex;
  }


  body {
    background-color: $body-color;
    color: $primary;
    font-family: 'Arial', sans-serif;
  }
  
  a {
    color: #4ABDAC;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .alert {
    background-color: #FFC857;
    color: #1A1C20;
    padding: 10px;
    border-radius: 5px;
  }
  
  .error {
    background-color: #D72638;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
  }





