<div class="background">
    <div class="menu">
        <button class="back-btn back-menu" (click)="AbortTransaction()"><img src="./assets/img/close.png" alt="" class=""></button>
        <h2 class="mb-32">Sell {{ currWalletEntry.tag }}</h2>
        <div class="sell-menu">
            <div class="text-info">
                <h3>bought at</h3>
                <h3>current {{ currWalletEntry.tag }} Price</h3>
                <h3>Max. Sell Amount</h3>
                <h3>profit</h3>
            </div>
            <div class="sell-infos txt-right">
                <h3>{{ currWalletEntry.buyAt | currency:'USD':'symbol':'1.0-2' }}</h3>
                <h3>{{ sellValues.currCoinPrice.value| currency:'USD':'symbol':'1.0-2'  }}</h3>
                <input 
                [(ngModel)]="sellAmount" 
                type="number" 
                [max]="maxSellAmount" 
                [min]="0"
                >
            </div> 
        </div>
        <button class="mt-32" 
        [class.btn-disabled]="checkSellOrder()" 
        (click)="acceptTransaction()" 
        [disabled]="checkSellOrder()">Sell for {{ maxProfit | currency:'USD':'symbol':'1.0-2'}}</button>
        <p *ngIf="checkSellOrder()" class="error-msg mt-32">Insufficient quantity of coins for sale</p>
    </div>
</div>